@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
.card-container {
  display: flex;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
  color: #333333;
  background-color: #0accc1;
  border-radius: 5px;
  width: 205px;
  height: 300px;
  margin: 20px 0;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  cursor: default;
}
h2 {
  font-weight: bolder;
  font-size: 17px;
  margin: 0;
}

p {
  font-weight: 100;
  font-size: 19px;
  margin: auto;
}

.card-container:hover {
  transform: scale(1.02);
}

img {
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  width: 205px;
  height: 200px;
}
