@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  margin: 0;
  background: #333;
  text-align: center;
}

.home-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 76px;
  color: #0accc1;
  font-family: "Shadows Into Light", cursive;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  margin-bottom: 20px;
}

.pagination button {
  background-color: #0accc1;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el botón activo */
.pagination button.active {
  background-color: #555;
}

/* Cambiar color de fondo y texto al pasar el mouse */
.pagination button:hover {
  background-color: #005fa3;
}
